<div class="container">

<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#">
        <img src="assets/logo-dark.png" alt="logo" class="logo-dark" />
        <img src="assets/logo-white.png" alt="logo" class="logo-white" />
      </a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a routerLink="foodCategory">Home</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a href="#faq">Faq</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

</div>