<p>restaurant-items works!!</p>

<div class="col mt-3" *ngFor="let item of items">
    <section id="idCategory{{ item.itemID }}">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4 pt-3">
          <img [src]="item.photoUrl">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <span class="badge text-bg-primary me-3">Novidade!</span>
            <span class="badge text-bg-warning me-3">Promoção!</span>

            <h5 class="card-title">{{ item.menuItemName }}</h5>
            <p class="card-text">600g de Maminha na Brasa. Acompanha Arroz Biro Biro, Farofa de Bacon e Mandioca cozida.</p>
              <div class="d-inline p-2 text-danger"><s>R$ 120,00</s></div>
              <div class="d-inline p-2 text-bold">R$ 98,00</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>